<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Evaluations
      </div>
      <div class="panel-body">

        <% @evaluations.each do |evaluation| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= evaluation.date %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", evaluation, class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add a evaluation", new_evaluation_path, class: "btn btn-primary" %>
  </div>
</div>
