<div class="panel panel-primary">
  <div class="panel-heading"><%= @evaluation.name %></div>

  <div class="panel-body">

    <p>Batch <%= @evaluation.batch.number %></p>

  </div>

</div>

<%= link_to "Back", batches_path, class: "btn btn-default" %>
