<div class="row">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Students
      </div>
      <div class="panel-body">

        <% @students.each do |student| %>
        <div class="row">
          <div class="col-md-7">
            <h4><%= student.name %></h4>
          </div>
          <div class="col-md-3 right">
            <%= link_to "View", student, class: "btn btn-default" %>
          </div>
        </div>
        <% end %>

      </div>
    </div>

    <%= link_to "Add a student", new_student_path, class: "btn btn-primary" %>
  </div>
</div>
