<div class="panel panel-primary">
  <div class="panel-heading"><%= @student.name %></div>

  <div class="panel-body">

    <p>Batch <%= @student.batch.number %></p>

  </div>

</div>

<%= link_to "Back", [@student.batch, @students_path], class: "btn btn-default" %>
<%= link_to "Edit", [:edit, @student.batch, @student], class: "btn btn-default" %>
