<div class="panel panel-primary">
  <div class="panel-heading"><%= @student.name %></div>

  <div class="panel-body">

    <p>Batch: <%= @student.batch %></p>

  </div>

</div>

<%= link_to "Back", students_path, class: "btn btn-default" %>
