<div class="panel panel-primary">
  <div class="panel-heading"><%= @day.date %></div>

  <div class="panel-body">

    <p>Student: <%= @day.student %></p>


  </div>

</div>

<%= link_to "Back", batches_path, class: "btn btn-default" %>
